.alliance-section {
  background-color: #fff;
  margin: 10px;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
}

.section-header {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  padding: 6px 16px;
  /* background: linear-gradient(90deg, #bfe3ff 0%, #e8f4ff 40%, #ffffff 100%); */
  /* background: linear-gradient(90deg, #a8dbff 0%,  #d6efff 60%, #ffffff 100%); */
  background: linear-gradient(90deg, #ffffff 0%, #d6efff 80%, #a8dbff 100%);
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 75px;
  margin-bottom: 14px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  width: fit-content;
}

.section-header span{
  color: #47a5e8;
  font-size: 1.1rem;
  font-weight: 600;
}

.section-icon {
  width: 22px;
  height: 22px;
  object-fit: contain;
}


.logo-grid {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 10px;
}

.logo-item {
  width: 70px;
  height: 70px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  transition: transform 0.2s ease;
  background-color: black;

}

.logo-item:hover {
  transform: scale(1.05);
}
