.news-ticker {
  display: flex;
  align-items: center;
  background-color: #72cfee42;
  color: #064b70;
  font-weight: 500;
  font-size: 16px;
  border-bottom: 1px solid #eee;
  overflow: hidden;
  white-space: nowrap;
}

.ticker-label {
  background: linear-gradient(90deg, #0870a8b4, #0a93d25c);
  padding: 5px 12px;
  display: flex;
  align-items: center;
  gap: 6px;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.news-icon-image {
  width: 25px;
  height: 35px;
  object-fit: contain;
}


.ticker-content {
  flex: 1;
  overflow: hidden;
  position: relative;
}

.ticker-track {
  display: inline-block;
  white-space: nowrap;
  animation: scroll-left 30s linear infinite;
}

.ticker-item {
  display: inline-block;
  margin-right: 40px;
}

@keyframes scroll-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
